
body {
  background:#eeeeee;
}

#header {

}

#viz {
  float: left;
  clear: left;
}

#sidebar {
  float: left;
}

#display-options > div {
  float: left;
}

.slider-box {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 20px;
}

.goog-slider-horizontal {
  width: 100%;
  height: 100%;
  background-color: ThreeDFace;
  position: relative;
  overflow: hidden;
}

.goog-slider-horizontal
.goog-slider-thumb {
  top: 0;
  width: 20px;
  height: 100%;
  position: absolute;
  background-color: ThreeDShadow;
  overflow: hidden;
}

#detail-text {
  width: 80ex;
  height: 60ex;
}
